@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */

body {
    font-family: 'Raleway', sans-serif; /* Use Raleway font everywhere */
  }


  .mobile-menu {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0; /* Start with height 0 */
  }


  
  /* When the menu is open, set a max-height to a large enough value */
  .mobile-menu.open {
    max-height: 300px; /* Adjust this based on your content size */
  }
  
  /* Align items and add spacing */
  .mobile-menu .menu-item {
    text-align: center; /* Center align the text */
    padding: 1rem; /* Add padding for touch targets */
    font-size: 1.25rem; /* Adjust font size for readability */
  }

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

.background-waves{
    background-image: url('../components/wave.svg');
}

html{
    background-color: #f1f1f1;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}
html.dark {
    background-color: #111111;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

.dark html{
    background-color: #111111;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.chat-room {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
}

.message {
    margin-bottom: 10px;
}

.message.sent {
    text-align: right;
}

.input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.input-area input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

.input-area button {
    padding: 10px 20px;
    margin-right: 5px;
}

.signup-page {
    overflow: hidden;
}
